#califications-container #califications-grid {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    margin: 10 0;
}

#califications-container input[type="number"] {
    width: 40;
}

#califications-container #exam-grid {
    display: grid;
    grid-template-columns: max-content max-content;
}